/* Design Tokens Export */
@theme {
--color-elevation-surface-base: var(--color-elevation-surface-base-foundation);
--color-elevation-surface-base-hover: var(--color-elevation-surface-base-hover-foundation);
--color-elevation-surface-base-pressed: var(--color-elevation-surface-base-pressed-foundation);
--color-elevation-surface-primary: var(--color-elevation-surface-primary-foundation);
--color-elevation-surface-primary-hover: var(--color-elevation-surface-primary-hover-foundation);
--color-elevation-surface-primary-pressed: var(--color-elevation-surface-primary-pressed-foundation);
--color-elevation-surface-sunken: var(--color-elevation-surface-sunken-foundation);
--color-elevation-surface-raised: var(--color-elevation-surface-raised-foundation);
--color-elevation-surface-raised-hover: var(--color-elevation-surface-raised-hover-foundation);
--color-elevation-surface-raised-pressed: var(--color-elevation-surface-raised-pressed-foundation);
--color-elevation-surface-overlay: var(--color-elevation-surface-overlay-foundation);
--color-elevation-surface-overlay-hover: var(--color-elevation-surface-overlay-hover-foundation);
--color-elevation-surface-overlay-pressed: var(--color-elevation-surface-overlay-pressed-foundation);
--color-text-primary: var(--color-text-primary-foundation);
--color-text-primary-inverse: var(--color-text-primary-inverse-foundation);
--color-text-brand-button: var(--color-text-brand-button-foundation);
--color-text-secondary: var(--color-text-secondary-foundation);
--color-text-tertiary: var(--color-text-tertiary-foundation);
--color-text-brand: var(--color-text-brand-foundation);
--color-text-success: var(--color-text-success-foundation);
--color-text-warning: var(--color-text-warning-foundation);
--color-text-warning-inverse: var(--color-text-warning-inverse-foundation);
--color-text-danger: var(--color-text-danger-foundation);
--color-text-information: var(--color-text-information-foundation);
--color-text-disabled: var(--color-text-disabled-foundation);
--color-text-selected: var(--color-text-selected-foundation);
--color-icon-primary: var(--color-icon-primary-foundation);
--color-icon-secondary: var(--color-icon-secondary-foundation);
--color-icon-tertiary: var(--color-icon-tertiary-foundation);
--color-icon-inverse: var(--color-icon-inverse-foundation);
--color-icon-brand-button: var(--color-icon-brand-button-foundation);
--color-icon-brand: var(--color-icon-brand-foundation);
--color-icon-success: var(--color-icon-success-foundation);
--color-icon-warning: var(--color-icon-warning-foundation);
--color-icon-warning-inverse: var(--color-icon-warning-inverse-foundation);
--color-icon-danger: var(--color-icon-danger-foundation);
--color-icon-information: var(--color-icon-information-foundation);
--color-icon-disabled: var(--color-icon-disabled-foundation);
--color-icon-selected: var(--color-icon-selected-foundation);
--color-icon-accent-hivis: var(--color-icon-accent-hivis-foundation);
--color-icon-accent-brickwork: var(--color-icon-accent-brickwork-foundation);
--color-icon-accent-craneberry: var(--color-icon-accent-craneberry-foundation);
--color-icon-accent-cement: var(--color-icon-accent-cement-foundation);
--color-background-disabled: var(--color-background-disabled-foundation);
--color-background-input: var(--color-background-input-foundation);
--color-background-input-hover: var(--color-background-input-hover-foundation);
--color-background-input-pressed: var(--color-background-input-pressed-foundation);
--color-background-selected: var(--color-background-selected-foundation);
--color-background-selected-hover: var(--color-background-selected-hover-foundation);
--color-background-selected-pressed: var(--color-background-selected-pressed-foundation);
--color-background-selected-bold: var(--color-background-selected-bold-foundation);
--color-background-selected-bold-hover: var(--color-background-selected-bold-hover-foundation);
--color-background-selected-bold-pressed: var(--color-background-selected-bold-pressed-foundation);
--color-background-brand-primary: var(--color-background-brand-primary-foundation);
--color-background-brand-primary-hover: var(--color-background-brand-primary-hover-foundation);
--color-background-brand-primary-pressed: var(--color-background-brand-primary-pressed-foundation);
--color-background-brand-subtle: var(--color-background-brand-subtle-foundation);
--color-background-brand-subtle-hover: var(--color-background-brand-subtle-hover-foundation);
--color-background-brand-subtle-pressed: var(--color-background-brand-subtle-pressed-foundation);
--color-background-neutral-primary: var(--color-background-neutral-primary-foundation);
--color-background-neutral-primary-hover: var(--color-background-neutral-primary-hover-foundation);
--color-background-neutral-primary-pressed: var(--color-background-neutral-primary-pressed-foundation);
--color-background-neutral-secondary: var(--color-background-neutral-secondary-foundation);
--color-background-neutral-secondary-hover: var(--color-background-neutral-secondary-hover-foundation);
--color-background-neutral-secondary-pressed: var(--color-background-neutral-secondary-pressed-foundation);
--color-background-neutral-bold: var(--color-background-neutral-bold-foundation);
--color-background-neutral-bold-hover: var(--color-background-neutral-bold-hover-foundation);
--color-background-neutral-bold-pressed: var(--color-background-neutral-bold-pressed-foundation);
--color-background-system-danger: var(--color-background-system-danger-foundation);
--color-background-system-danger-hover: var(--color-background-system-danger-hover-foundation);
--color-background-system-danger-pressed: var(--color-background-system-danger-pressed-foundation);
--color-background-system-danger-bold: var(--color-background-system-danger-bold-foundation);
--color-background-system-danger-bold-hover: var(--color-background-system-danger-bold-hover-foundation);
--color-background-system-danger-bold-pressed: var(--color-background-system-danger-bold-pressed-foundation);
--color-background-system-warning: var(--color-background-system-warning-foundation);
--color-background-system-warning-hover: var(--color-background-system-warning-hover-foundation);
--color-background-system-warning-pressed: var(--color-background-system-warning-pressed-foundation);
--color-background-system-warning-bold: var(--color-background-system-warning-bold-foundation);
--color-background-system-warning-bold-hover: var(--color-background-system-warning-bold-hover-foundation);
--color-background-system-warning-bold-pressed: var(--color-background-system-warning-bold-pressed-foundation);
--color-background-system-success: var(--color-background-system-success-foundation);
--color-background-system-success-hover: var(--color-background-system-success-hover-foundation);
--color-background-system-success-pressed: var(--color-background-system-success-pressed-foundation);
--color-background-system-success-bold: var(--color-background-system-success-bold-foundation);
--color-background-system-success-bold-hover: var(--color-background-system-success-bold-hover-foundation);
--color-background-system-success-bold-pressed: var(--color-background-system-success-bold-pressed-foundation);
--color-background-system-information: var(--color-background-system-information-foundation);
--color-background-system-information-hover: var(--color-background-system-information-hover-foundation);
--color-background-system-information-pressed: var(--color-background-system-information-pressed-foundation);
--color-background-system-information-bold: var(--color-background-system-information-bold-foundation);
--color-background-system-information-bold-hover: var(--color-background-system-information-bold-hover-foundation);
--color-background-system-information-bold-pressed: var(--color-background-system-information-bold-pressed-foundation);
--color-background-accent-hivis-subtle: var(--color-background-accent-hivis-subtle-foundation);
--color-background-accent-hivis-subtle-hover: var(--color-background-accent-hivis-subtle-hover-foundation);
--color-background-accent-hivis-subtle-pressed: var(--color-background-accent-hivis-subtle-pressed-foundation);
--color-background-accent-hivis-bold: var(--color-background-accent-hivis-bold-foundation);
--color-background-accent-hivis-bold-hover: var(--color-background-accent-hivis-bold-hover-foundation);
--color-background-accent-hivis-bold-pressed: var(--color-background-accent-hivis-bold-pressed-foundation);
--color-background-accent-brickwork-subtle: var(--color-background-accent-brickwork-subtle-foundation);
--color-background-accent-brickwork-subtle-hover: var(--color-background-accent-brickwork-subtle-hover-foundation);
--color-background-accent-brickwork-subtle-pressed: var(--color-background-accent-brickwork-subtle-pressed-foundation);
--color-background-accent-brickwork-bold: var(--color-background-accent-brickwork-bold-foundation);
--color-background-accent-brickwork-bold-hover: var(--color-background-accent-brickwork-bold-hover-foundation);
--color-background-accent-brickwork-bold-pressed: var(--color-background-accent-brickwork-bold-pressed-foundation);
--color-background-accent-craneberry-subtle: var(--color-background-accent-craneberry-subtle-foundation);
--color-background-accent-craneberry-subtle-hover: var(--color-background-accent-craneberry-subtle-hover-foundation);
--color-background-accent-craneberry-subtle-pressed: var(--color-background-accent-craneberry-subtle-pressed-foundation);
--color-background-accent-craneberry-bold: var(--color-background-accent-craneberry-bold-foundation);
--color-background-accent-craneberry-bold-hover: var(--color-background-accent-craneberry-bold-hover-foundation);
--color-background-accent-craneberry-bold-pressed: var(--color-background-accent-craneberry-bold-pressed-foundation);
--color-background-accent-cement-subtle: var(--color-background-accent-cement-subtle-foundation);
--color-background-accent-cement-subtle-hover: var(--color-background-accent-cement-subtle-hover-foundation);
--color-background-accent-cement-subtle-pressed: var(--color-background-accent-cement-subtle-pressed-foundation);
--color-background-accent-cement-bold: var(--color-background-accent-cement-bold-foundation);
--color-background-accent-cement-bold-hover: var(--color-background-accent-cement-bold-hover-foundation);
--color-background-accent-cement-bold-pressed: var(--color-background-accent-cement-bold-pressed-foundation);
--color-background-accent-grey-subtle: var(--color-background-accent-grey-subtle-foundation);
--color-background-accent-grey-subtle-hover: var(--color-background-accent-grey-subtle-hover-foundation);
--color-background-accent-grey-subtle-pressed: var(--color-background-accent-grey-subtle-pressed-foundation);
--color-border-primary: var(--color-border-primary-foundation);
--color-border-input: var(--color-border-input-foundation);
--color-border-focused: var(--color-border-focused-foundation);
--color-border-disabled: var(--color-border-disabled-foundation);
--color-border-brand: var(--color-border-brand-foundation);
--color-border-success: var(--color-border-success-foundation);
--color-border-warning: var(--color-border-warning-foundation);
--color-border-danger: var(--color-border-danger-foundation);
--color-border-information: var(--color-border-information-foundation);
--color-border-bold: var(--color-border-bold-foundation);
--color-skeleton-primary: var(--color-skeleton-primary-foundation);
--color-skeleton-secondary: var(--color-skeleton-secondary-foundation);
--border-width-default: var(--scale-10);
--border-width-bold: var(--scale-25);
--color-blanket-blanket: var(--color-blanket-blanket-foundation);
--color-chart-categorical-1: var(--color-chart-categorical-1-foundation);
--color-chart-categorical-1-hovered: var(--color-chart-categorical-1-hovered-foundation);
--color-chart-categorical-2: var(--color-chart-categorical-2-foundation);
--color-chart-categorical-2-hovered: var(--color-chart-categorical-2-hovered-foundation);
--color-chart-categorical-3: var(--color-chart-categorical-3-foundation);
--color-chart-categorical-3-hovered: var(--color-chart-categorical-3-hovered-foundation);
--color-chart-categorical-4: var(--color-chart-categorical-4-foundation);
--color-chart-categorical-4-hovered: var(--color-chart-categorical-4-hovered-foundation);
--color-chart-categorical-5: var(--color-chart-categorical-5-foundation);
--color-chart-categorical-5-hovered: var(--color-chart-categorical-5-hovered-foundation);
--color-chart-categorical-6: var(--color-chart-categorical-6-foundation);
--color-chart-categorical-6-hovered: var(--color-chart-categorical-6-hovered-foundation);
--color-chart-categorical-7: var(--color-chart-categorical-7-foundation);
--color-chart-categorical-7-hovered: var(--color-chart-categorical-7-hovered-foundation);
--color-chart-categorical-8: var(--color-chart-categorical-8-foundation);
--color-chart-categorical-8-hovered: var(--color-chart-categorical-8-hovered-foundation);
--color-chart-categorical-9: var(--color-chart-categorical-9-foundation);
--color-chart-categorical-9-hovered: var(--color-chart-categorical-9-hovered-foundation);
--color-chart-categorical-10: var(--color-chart-categorical-10-foundation);
--color-chart-categorical-10-hovered: var(--color-chart-categorical-10-hovered-foundation);
--color-chart-neutral: var(--color-chart-neutral-foundation);
--color-chart-neutral-hovered: var(--color-chart-neutral-hovered-foundation);
--color-chart-danger: var(--color-chart-danger-foundation);
--color-chart-danger-hovered: var(--color-chart-danger-hovered-foundation);
--color-chart-danger-bold: var(--color-chart-danger-bold-foundation);
--color-chart-danger-bold-hovered: var(--color-chart-danger-bold-hovered-foundation);
--color-chart-warning: var(--color-chart-warning-foundation);
--color-chart-warning-hovered: var(--color-chart-warning-hovered-foundation);
--color-chart-warning-bold: var(--color-chart-warning-bold-foundation);
--color-chart-warning-bold-hovered: var(--color-chart-warning-bold-hovered-foundation);
--color-chart-success: var(--color-chart-success-foundation);
--color-chart-success-hovered: var(--color-chart-success-hovered-foundation);
--color-chart-success-bold: var(--color-chart-success-bold-foundation);
--color-chart-success-bold-hovered: var(--color-chart-success-bold-hovered-foundation);
--color-chart-information: var(--color-chart-information-foundation);
--color-chart-information-hovered: var(--color-chart-information-hovered-foundation);
--color-chart-information-bold: var(--color-chart-information-bold-foundation);
--color-chart-information-bold-hovered: var(--color-chart-information-bold-hovered-foundation);
--radius-none: var(--scale-0);
--radius-xs: var(--scale-100);
--radius-sm: var(--scale-200);
--radius-sm-m: var(--scale-300);
--radius-m: var(--scale-400);
--radius-xl: var(--scale-600);
--radius-xxl: var(--scale-800);
--radius-round: var(--scale-1600);
--font-weight-body-regular: var(--font-weight-regular);
--font-weight-body-medium: var(--font-weight-medium);
--font-weight-heading-medium: var(--font-weight-medium);
--font-weight-heading-semi-bold: var(--font-weight-semi-bold);
--font-weight-accent-semibold: var(--font-weight-semibold);
--shadow-elevation-overflow: var(--shadow-elevation-overflow-foundation);
--shadow-elevation-raised: var(--shadow-elevation-raised-foundation);
--shadow-elevation-overlay: var(--shadow-elevation-overlay-foundation);
--shadow-elevation-element: var(--shadow-elevation-element-foundation);
}

