/* Responsive Tokens Export */
@theme {
--spacing-none: var(--scale-0);
--spacing-xxxs: var(--scale-50);
--spacing-xxs: var(--scale-100);
--spacing-button-height: var(--scale-150);
--spacing-xs: var(--scale-200);
--spacing-sm: var(--scale-300);
--spacing-md: var(--scale-400);
--spacing-lg: var(--scale-600);
--spacing-xl: var(--scale-800);
--spacing-xxl: var(--scale-1200);
--spacing-xxxl: var(--scale-1600);
--text-heading-large: 24px;
--leading-heading-large: 32px;
--leading-heading-medium: 22px;
--leading-heading-small: 20px;
--leading-body-base: 18px;
--leading-body-medium: 16px;
--leading-body-small: 12px;
--leading-body-xsmall: 10px;
--leading-accent-large: 14px;
--leading-accent-small: 10px;
--text-heading-medium: 18px;
--text-heading-small: 16px;
--text-body-base: 14px;
--text-body-medium: 12px;
--text-body-small: 10px;
--text-body-xsmall: 8px;
--text-accent-large: 10px;
--text-accent-medium: 8px;
--text-accent-small: 6px;
--tracking-brand-heading-h1: 48px;
--tracking-brand-heading-h2: 40px;
--tracking-brand-heading-h3: 36px;
--tracking-brand-heading-h4: 32px;
--tracking-brand-heading-h5: 28px;
--tracking-brand-heading-h6: 24px;
--tracking-body-sm: 16px;
--tracking-body-md: 16px;
--tracking-body-lg: 20px;
--tracking-xs: -0.4000000059604645px;
--tracking-sm: -0.20000000298023224px;
--leading-brand-heading-display-lg: 80px;
--leading-brand-heading-display-sm: 72px;
--leading-brand-heading-h1: 64px;
--leading-brand-heading-h2: 56px;
--leading-brand-heading-h3: 40px;
--leading-brand-heading-h4: 32px;
--leading-brand-heading-h5: 28px;
--leading-brand-heading-h6: 24px;
--leading-brand-body-lg: 30px;
--leading-brand-body-md: 24px;
--leading-brand-body-sm: 20px;
--leading-brand-body-xs: 18px;
--leading-brand-accent-overline: 18px;
--leading-brand-accent-label: 14px;
--text-brand-heading-display-lg: 80px;
--text-brand-heading-display-sm: 72px;
--text-brand-heading-h1: 64px;
--text-brand-heading-h2: 56px;
--text-brand-heading-h3: 40px;
--text-brand-heading-h4: 32px;
--text-brand-heading-h5: 24px;
--text-brand-heading-h6: 20px;
--text-brand-body-lg: 20px;
--text-brand-body-md: 16px;
--text-brand-body-sm: 14px;
--text-brand-body-xs: 12px;
--text-brand-accent-label: 14px;
--text-brand-accent-overline-lg: 14px;
--text-brand-accent-overline-sm: 12px;
--tracking-base: 0px;
--tracking-m: 0.4000000059604645px;
--tracking-xl: 1.9600000381469727px;
--tracking-breakpoint: 0px;
--tracking-columns: 0px;
--layout-grid-breakpoint: 1280px;
--layout-grid-columns: 12px;
--layout-grid-gutter: 16px;
--layout-grid-margin: 24px;
--layout-grid-side-nav-width: 232px;
}
